<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             mustMatch="false">
    <serverUrls>
        <serverUrl url="http://services.arcgisonline.com"
                   matchAll="true"/>
		<serverUrl
				  url="http://esriformacion.maps.arcgis.com/"				  
				  oauth2Endpoint="https://www.arcgis.com/sharing/oauth2"
				  clientId="OCUThgNTHlP9e2ve"
				  clientSecret="a911d46384df45dabde8e08dd0a974fb"
				  rateLimit="120"
				  rateLimitPeriod="60"
				  matchAll="true"/>
    </serverUrls>
	
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
